button {
    color: var(--rasin-black);
    border: none;

    padding: 0.85rem 2.5rem;

    font-size: 1rem;
    background: var(--main-accent-color);
} 

.button-small {
    font-size: 0.75rem;

    padding: 0.6rem 1.2rem;
}

.alt-button {
    background: none;

    border: 2px solid var(--main-accent-color);
    color: var(--main-accent-color);
}

.alt-button-small {
    font-size: 0.75rem;

    padding: 0.6rem 1.2rem;


    background: none;
    
    border: 2px solid var(--main-accent-color);
    color: var(--main-accent-color);
}