@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Text&family=Roboto&display=swap");

:root {
  /* Font sizes */
  --h1: 2.25rem;
  --h2: 1.5rem;
  --p: 1rem;
  --p-small: 0.75rem;

  /* Colors */
  --background-color: #222020;
  --text-color: #f3f3f3;
  --alt-text-color: #f3f3f3;
  --header-color: #000000;
  --alt-header-color: #000000;
  --alt-baclground-color: #353535;
  --link-color: pink;
  --button-color: black;
  --alt-button-color: rgb(151, 151, 151);

  --main-bg-color: #4e404f;
  --main-accent-color: #ffd6bf;
  --rasin-black: #201d26;
  --off-white: #FFF1EB;
  --eggplant: #4E404F;
  --unbleached-silk: #FFD6BF;
  --coffee: #363040;
}

* {
  box-sizing: border-box;

  font-family: "DM Sans", sans-serif;
}

a {
  /* font-family: 'DM Serif Text', serif; */
}

body {
  margin: 0;
}

img {
  display: block;
}

/* INFO BOX */
.info-box {
  color: var(--main-accent-color);
  width: 20rem;

  margin: 1rem;
}

.info-box div {
  height: 3px;
  width: 8rem;

  background: #ffc1b3;
}

.info-box-right {
  color: var(--main-accent-color);
  width: 20rem;

  margin: 1rem;

  text-align: right;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info-box-right p {
  color: white;
}

.info-box p {
  color: white;
}

.info-box-right div {
  height: 3px;
  width: 8rem;

  background: #ffc1b3;
}

.info-box h3 {
  font-size: 3rem;
  margin: 0;
}

.info-box-right h3 {
  font-size: 3rem;
  margin: 0;
}