.section-info {
    height: 130vh;
    width: 100vw;

    padding: 5rem 0rem;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    align-content: stretch;
    justify-items: center;

    background: var(--off-white);

}

.s4-img {
    width: 18rem;
    height: 18rem;

    background: pink;
}

.section-info .s4-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: rotate(0deg);
}

.section-info .info-box {
    min-width: 25rem;
}

.section-info h3 {
    color: var(--eggplant);
    font-size: 2.2rem;
}

.section-info p {
    color: var(--rasin-black);
}