.section-detail {
  height: 100vh;
  position: relative;
}

.s5-bg-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* INFO BOX POS */
.section-detail .box-slim-tires {
  position: absolute;
  right: calc(50vw + 12rem);
  top: 20%;
}

.section-detail .box-peak-steering {
  position: absolute;
  left: calc(50vw + 12rem);
  top: 20%;
}

.section-detail .box-top-gear {
  position: absolute;
  left: calc(50vw + 12rem);
  bottom: 5%;
}

.detail-mobile-container{
  display: none;
}

@media only screen and (max-width: 1150px) {
  .section-detail .box-slim-tires {
    width: 15rem;
    left: calc(50vw - 25.5rem);
    top: 0%;
  }
  
  .section-detail .box-peak-steering {
    width: 15rem;
    
  align-items: flex-start;
  text-align: left;
    left: calc(50vw + 8rem);
    top: 0%;
  }

  .section-detail .box-peak-steering button{
    margin-top: 20px;
  }
  
  .section-detail .box-top-gear {
    width: 14rem;
    
  align-items: flex-start;
  text-align: left;
    left: calc(50vw - 9rem);
    top: 0%;
  }

  .section-detail h3 {
    font-size: 36px;
  }

  .section-detail{
    height: 45rem;
  }

  .s5-bg-img {
    object-position: 46% 50%;
  }

}

@media only screen and (max-width: 800px) {

  

  .detail-mobile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: rgb(32, 32, 32);
    gap: 12rem 0;
    padding: 10rem 0;
  }

  .detail-mobile-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .detail-mobile-container .info-box {
    margin: 2rem 0 0 0;
  }

  .tire-container{
    width: 20rem;
  }

  .gear-container{
    width: 20rem;

  }

  .steering-container{
    width: 20rem;

  }

  .s5-bg-img {
    display: none;
  }

  .section-detail{
    height: auto;
  }

  .section-detail .box-slim-tires {
    display: none;
  }

  .section-detail .box-peak-steering {
    display: none;
  }
  
  .section-detail .box-top-gear {
    display: none;
  }
}