.section-detail {
  height: 100vh;
  position: relative;
}

.s5-bg-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* INFO BOX POS */
.section-detail .box-slim-tires {
  position: absolute;
  right: calc(50vw + 12rem);
  top: 20%;
}

.section-detail .box-peak-steering {
  position: absolute;
  left: calc(50vw + 12rem);
  top: 20%;
}

.section-detail .box-top-gear {
  position: absolute;
  left: calc(50vw + 12rem);
  bottom: 5%;
}