.section-2 {
    width: 90vw;
    height: 100vh;

    display: flex;
    padding: 5rem;
    margin-top: 5rem;
}

.s2-left, .s2-right{
    width: 50%;
    padding: 5%;
    display: flex;
    
    align-items: center;
}

.s2-left {
    padding-top: 10rem;
}


.s2-image-back {
    width: 30rem;
    height: 30rem;

    background: pink;
}

.s2-image-front {
    width: 20rem;
    height: 20rem;

    background: rgb(255, 155, 172);

    position: relative;
    bottom: 8rem;
    left: 13rem;
}