.section-paralax {
    height: auto;
    width:100%;
    background: var(--background-color);
}

.section-paralax img {
    width: 100%;
    position: relative;
}

.section-paralax .info-box{
    position: absolute;
}