.section-hero {
  --nav-height: 5rem;
  height: 100vh;
  background-color: var(--background-color);
}

nav {
  background-color: none;
  opacity: 70%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  height: var(--nav-height);

  position: fixed;

  padding: 0 1rem;
  z-index: 100;
}

.nav-color {
  background-color: var(--main-bg-color);
}

.logo {
  width: 24rem;

  display: flex;
  justify-content: left;
}

.logo img {
  width: 12rem;
}

.hamburger-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hamburger-bar {
  width: 40px;
  height: 6px;
  background-color: black;
  margin: 3px 0;
  border-radius: 100px;
}

.hamburger-bar-color{
  background-color: var(--main-accent-color);
}

.hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
}

.section-hero h1 {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 3%;
  color: var(--main-accent-color);
  font-size: 6rem;

  width: 80%;
}

.section-hero h1 span {
  color: var(--main-bg-color);
}

.hero-info-container {
  position: absolute;

  left: 5%;
  bottom: 5%;
}

.hero-info-container h2 {
  font-size: 1.5rem;
  color: var(--main-accent-color);
  padding: 0;
}