.section-footer {
  height: 100vh;
  --footer-height: 25vh;
}

.section-footer .image-container {
  position: relative;
}

.sFo-bg-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.section-footer .info-box {
  width: 100vw;
  position: absolute;
  top: 10vh;
  margin: 0;
  text-align: center;

  color: var(--coffee);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-footer .info-box h3 {
  font-size: 4rem;
}

.section-footer .info-box p {
  padding: none;
  margin: none;

  font-size: 2rem;
  color: var(--coffee);
}

.section-footer .info-box button {
  width: 10rem;
  height: 3rem;
  padding: 0;
}

.section-footer .info-box div {
  margin: none;
  width: 30vw;
}

footer {
  display: flex;
  background-color: white;
  height: var(--footer-height);
}

.footer-sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 20%;
  text-align: center;
  padding: 0 2rem;
  background-color: var(--seashell);
}

.footer-sign-up-container p{
  font-size: 0.75rem;
}

.footer-links-container {
  background-color: var(--coffee);
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;

  position: relative;
}

.footer-links-container img {
  position: absolute;
  width: 80%;
}

.footer-links-container a {
  
  font-size: 1.8rem;
  z-index: 1;
  color: white;
  text-decoration: none;
}

.footer-social-media-container {
  background-color: white;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  padding: 1rem;
  background-color: var(--seashell);
}

.footer-social-media-container img{
  width: 3rem;
  height: 3rem;
}

.section-footer button {
  border: solid 2px var(--coffee);
}

@media only screen and (max-width: 1150px) {

  .sFo-bg-img {
    
    object-position: 35%;
  }

  .section-footer button {
    padding: 0.7rem;
    width: 6rem;
  }

}

@media only screen and (max-width: 800px) {

  

  /* Info-Box Start */
  .section-footer .info-box {
    
  }
  
  .section-footer .info-box h3 {
    font-size: 2.5rem;
  }
  
  .section-footer .info-box p {
  }
  
  .section-footer .info-box button {
    width: 10rem;
    height: 3rem;
  }
  
  .section-footer .info-box div {
    width: 60vw;
  }

  /* Info-Box End */

  footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-links-container {
    flex-direction: column;
    width: 100%;
  }

  .footer-sign-up-container {
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
  }

  .footer-sign-up-container p {
    width: 12rem;
    
  }

  .footer-links-container a {
    font-size: 1rem;
    margin: 1rem;
  }

  .footer-social-media-container {
    flex-direction: row;
    width: 100%;
    padding: 2rem;
  }
  
  .footer-social-media-container img{
  }



}