.section-stats {
    width: 100vw;
    height: 100vh;

    display: flex;

    background: var(--rasin-black);
    
}

.section-stats .stats-container {
    width: 100%;
    width: 100%;

    position: relative;


    display: flex;
    justify-content: center;
    align-items: center;

}

.section-stats .stats-container img {
    min-width: 28rem;
    min-height: 25rem;

    margin: 3rem;
    z-index: 1;
    
}

.section-stats .logo  {
    width: 100rem;

    position: absolute;

    top: 50vh;
    right: calc(-60rem + 80vw);

    fill: black;
}

.section-stats .info-box h3 {
    font-size: 5rem;

    z-index: 1;
} 

.section-stats .info-box p {
    font-size: 1.5rem;

    z-index: 1;
}